<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bobLearn">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 硬件加速对X5视频播放非常重要，建议开启 -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".amui.QmiuiTestActivity"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name=".orm.OrmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".task.TaskTestActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".coordinatorLayout.CoordinatorLayoutTestActivity" />
        <activity
            android:name=".HomeMainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".backFragment.BackBackTestOneActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".aop.AOPDoubleClickActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".audioWave.AudioWaveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragment.backPress.FragmentBackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityBase.BaseLearnActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewpagerOptimization.FragmentVpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragment.fragmentBase.BasisFragmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".danmu.DanmuTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".threadpool.ThreadPoolActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".x5.FullScreenActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name" />
        <activity
            android:name=".x5.FilechooserActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name" />
        <activity
            android:name=".x5.BrowserActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name" />
        <activity android:name=".x5.X5TestActivity" />
        <activity android:name=".service.ServiceActivity" />

        <service android:name=".service.ServiceOne" />
    </application>

</manifest>